<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="man" class="Man" />
    <bean id="man2" class="Man">
        <constructor-arg value="fuck" />
    </bean>
    <bean id="man3" class="Man">
        <constructor-arg name="name" value="mzb" />
        <constructor-arg name="age" value="10" />
    </bean>

    <bean id="man4" class="Man">
        <constructor-arg index="1" value="20" />
        <constructor-arg name="name" value="haha" />
    </bean>

    <!--<bean id="man5" class="Man" factory-method="getMan" scope="prototype"/>-->
    <bean id="man55" class="Man" factory-method="getMan"/>

    <bean id="man6" class="Man">
        <property name="country" value="hehe" />
    </bean>

    <bean id="man7" class="Man">
        <property name="son">
            <bean class="Man">
                <constructor-arg name="name" value="son" />
                <constructor-arg name="age" value="2" />
            </bean>
        </property>
    </bean>
</beans>